apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yml
- service.yml
commonLabels:
  app.kubernetes.io/instance: clouddriver
  app.kubernetes.io/name: clouddriver
