apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./../base
nameSuffix: -worker
commonLabels:
  app.kubernetes.io/instance: echo-worker
  app.kubernetes.io/name: echo-worker
patchesStrategicMerge:
- profile.yml
