apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./../base
nameSuffix: -ro
commonLabels:
  app.kubernetes.io/instance: clouddriver-ro
  app.kubernetes.io/name: clouddriver-ro
patchesStrategicMerge:
- profile.yml
